<h4 class="product-items-unit__title top-spacing-index">Select Mac Model</h4> 
   <div class="product-items-unit__grid"> 
    <a href="/configure-my-mac/laptops" class="product-items-unit__container" data-category-id="laptops"> <img class="cld-responsive img-responsive product-items-unit__img" src="/image/laptops.png" alt="Laptops"> 
     <div class="product-items-unit__content"> 
      <h3 class="product-items-unit__product">Laptops</h3> 
      <p class="product-items-unit__product-info" data-category-price="">Loading Price</p> 
      <div class="sofia-button-full-width sofia-button__height_40 product-items-unit__btn">
       Shop Now
      </div> 
     </div> </a> 
    <a href="/configure-my-mac/desktops" class="product-items-unit__container" data-category-id="desktops"> <img class="cld-responsive img-responsive product-items-unit__img" src="/image/desktops.png" alt="Desktops"> 
     <div class="product-items-unit__content"> 
      <h3 class="product-items-unit__product">Desktops</h3> 
      <p class="product-items-unit__product-info" data-category-price="">Loading Price</p> 
      <div class="sofia-button-full-width sofia-button__height_40 product-items-unit__btn">
       Shop Now
      </div> 
     </div> </a>  
    <a href="/configure-my-mac/tablets" class="product-items-unit__container" data-category-id="tablets"> <img class="cld-responsive img-responsive product-items-unit__img" src="/image/tablets.png" alt="Tablets"> 
     <div class="product-items-unit__content"> 
      <h3 class="product-items-unit__product">Tablets</h3> 
      <p class="product-items-unit__product-info" data-category-price="">Loading Price</p> 
      <div class="sofiasofia-button-full-width sofia-button__height_40 product-items-unit__btn">
       Shop Now
      </div> 
     </div> </a> 
    <a href="/configure-my-mac/smartphones" class="product-items-unit__container" data-category-id="smartphones"> <img class="cld-responsive img-responsive product-items-unit__img" src="/image/smartphones.png" alt="Smartphones"> 
     <div class="product-items-unit__content"> 
      <h3 class="product-items-unit__product">Smartphones</h3> 
      <p class="product-items-unit__product-info" data-category-price="">Loading Price</p> 
      <div class="sofia-button-full-width sofia-button__height_40 product-items-unit__btn">
       Shop Now
      </div> 
     </div> </a> 
   </div> 
  </div> 