
html {
	margin:0px;
	padding:0px;
}
 
body#public {
    margin:0px;
	padding:0px;
	background-color: #473128;
	 /*#3C1C00;*/
	font-family: Helvetica, Arial, 'sans-serif';
	font-size:12px;
}
 
.normal-text {
	color: #000;
	font-family: Helvetica, Arial, 'sans-serif';
	font-size:12px;
	font-weight:normal;
}
 
h1 {
   	margin:0px 0px 5px 30px;
	padding-top:10px;
	font-size:20px;
}
 
h2, h3, h4 {
   	margin:0px;
   	color: #3C1C00;
}
 
h4 {
	margin:12px 0px 5px 0px;
	font-size:16px;
}
 
h2 {
	margin-bottom:10px;
	padding:0px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
}
 
p {
	margin-top:0px;
}
 
a:link  { 
	font-weight: bold; 
	text-decoration: none; 
	color: #4F2218;
}
 
a:hover {
	text-decoration:underline !important;
	/*color: #E05F51;*/
	color: #CF4A30 !important;
}
 
a:visited {
   font-weight: bold;
   text-decoration: none;
   color: #8C6D51;
 
}
 
div#page {
	position:relative;
	top:0px;
	width:90%;
	min-width:700px;
	padding:0px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}
 
/*for title area*/
div#header {
	position:relative;
	top:0px;
	left:0px;
	padding:0px 0px 0px 20px;
	padding-bottom:0px;
	color:#4F2218;
	background-color:#FFF;
	
}
 
div#header-text {
	position:relative;
	margin-left:80px;
	border-bottom:1px #402712 dotted;
}
 
div#title img {
	margin-right:10px;
}
 
.grey {
	color:#8D8D8D !important;
}
 
.brain {
	/*color:#EA6056 !important;*/
}
 
.brackets {
	color:#C0C0C0;
	font-weight:normal;
	font-size:24px;
	line-height:40px;
}
 
.subtitle {
	font-size:21px;
	font-family: Palatino, Times New Roman, "serif";
	font-style:italic;
	font-weight:normal;
	color:#4F2218;
}
 
/*nav in header */
div#nav {
	position:relative;
	top:-5px;
	left:20px;
	height:20px;
	font-size:14px;
	letter-spacing:.05em;
	color:#801E08;
	
}
 
#nav a {
	color:#801E08;
	padding:4px 10px 5px 10px;
	
}
 
#nav a:hover {
	color:#212944;
	/*background:#FFFFCC;*/
	text-decoration:underline;
}
 
#nav a:visited {
	/*color:#557D91;*/
}
 
 
div#container {
	padding:0px 0px 0px 310px;
	/*border-top:#E8D8A0 2px solid;*/
}
 
div.column {
	position:relative;
	float:left;
}
 
div#left-content {
	width:220px;
	right:310px;
	padding:25px;
	margin-left:-100%;
}
 
div#left-content  p {
	text-indent:20px;
	line-height:16px;
	font-size:12px;
}
 
h3.news {
	/*#424770 */
	border-bottom:#A7CC31 2px solid;
	margin-bottom:9px;
	
}
 
 
div.news {
	background:#FCFBE3;
 	padding:10px;
	margin:-10px;
}
 
p.news {
	text-indent:0px !important;
	line-height:16px;
}
/* content area*/
div#right-content {
	margin:0px;
	margin-left:-40px;
	width:100%;	
	padding:20px;
	border-left:1px #CCC solid;
  	/*background-color: #FFFFCC;*/
}
 
div#places-list-left  {
	width:45%;
}
 
div#places-list-right {
	width:45%;
}
 
h3.inverse {
	border-bottom:#A7CC31 1px dotted;
	padding:5px 3px 3px 3px;
	margin-bottom:5px;
}
 
div > ul {
	margin:0px;
	padding-left:0px;
}
 
div > ul > li {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}
 
ul ul {
	list-style-type:disc !important;
	margin-left:5px;
	margin-bottom:10px;
}
 
span.important {
  text-decoration: underline;
}
 
acronym,abbr  {
	border-bottom: none;
	text-decoration: none;
	font-style: normal;
}
 
 
/* bombs Safari 
#introparagraph:after
{
	content: url(/cocoaheads.png);
	float: right;
}
*/
 
.clearboth {
	clear: both;
}
 
#cocoapic {
  	float:right;
}
 
#places div {
	padding:5px;
	line-height:14px;
}
 
#places li div:first-child {
	padding:0px;
	line-height:17px;
}
 
div#map-wrap {
	text-align:right;
	margin: 0px;
	font-size:14px;
	width:100%;
	padding:0px !important;
}
 
div#map {
	height: 395px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
  	border: #888 solid 1px;
	padding:0px !important;
}
 
 
hr {
  	border: #402712 dashed;
	border-width:1px 0 0 0;
	size:1px;
  	width: 95%;
}
 
.clear {
	clear: both;
}
 
.green-top
{
	padding:5px 0px 0px 6px !important;
	margin:3px 0px 0px -6px;
	border-top:1px #A7CC31 dotted;
	background:#FCFBE3;
}
 
 
.more-info
{
	/*border-left:1px dotted gray;*/
	padding:0px 0px 4px 7px !important;
	margin:0px 0px 5px -6px;
	border-bottom:1px #A7CC31 dotted;
	background:#FCFBE3;
	line-height:17px !important;
}
 
#infoWindow
{
	font-size:12px;
	top:20px;
	margin-top:auto;
	margin-bottom:auto;
	line-height:18px;
	text-align:left;
}
 
#infoWindow h3.news
{
	font-size:12px;
	border-bottom-width:1px;
	border-bottom-style:dotted;
}
 
div#footer
{
	size:11px;
	padding:10px;
	border-top:1px #402712 dotted;
}